<div class="container my-3">
    <picture>
        <source media="(max-width:799px)" srcset="/error_images/imageNotFound.jpg" >
        <source media="(min-width:800px)" srcset="/error_images/imageNotFound.jpg" >
        <img class="img-fluid" alt="Error Image"  src="/error_images/imageNotFound.jpg">
    </picture>  
</div>