


<!--top carousel begings -->
<div class="container bg-secondary my-1 ">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/home_page/carousel/silverware.jpg" class="d-block w-100 img-fluid" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
         </div>
          <div class="carousel-item">
            <img src="/home_page/carousel/silverware2.jpg" class="d-block w-100 img-fluid" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/home_page/carousel/silverware3.jpg" class="d-block w-100 img-fluid" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
      <!--top carousel ends here -->

      <!--SILVER UTENSILS HOMEPAGE SEGMENT STARTS HERE -->

      <div class="container bg-light my-2 p-2 border rounded border-info">
          <h3 class="text-center">Silver Utensils</h3>
      </div>
      <div class="container my-2">
          <div class="row">
              <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
                    <img src="/home_page/silver_utensils/plain-dinner-set.jpg"  class="img-fluid" loading="eager" alt="...">
                    <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                      <h5 class="text-center text-capitalize">Plain Silver Utensils</h5>
                    </div>
                    <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                      <a href="/silverUtensils/plainSilverUtensils">Explore Plain Silver Utensils</a>
                    </div>
                    <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                      <a href="/silverUtensils#dinnerSet">Explore Plain Dinner Sets</a>
                    </div>
                    <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                      <a href="/silverUtensils">Explore Gallery Of Silver Utensils</a>
                    </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
                    <img src="/home_page/silver_utensils/antique-dinner-set.jpg"  class="img-fluid" loading="eager" alt="...">
                    <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                      <h5 class="text-center">Antique Silver Utensils</h5>
                      <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
                    </div>
                    <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                      <a href="/silverUtensils/antiqueSilverUtensils">Explore Antique Silver Utensils </a>
                    </div>
                    <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                      <a href="/silverUtensils#dinnerSet">Explore Antique Dinner Sets</a>
                    </div>
                    <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                      <a href="/silverUtensils">Explore Gallery Of Silver Utensils</a>
                    </div>

              </div>
              <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
                <img src="/home_page/silver_utensils/plain-silver-cutlery.jpg" class="img-fluid" loading="eager" alt="...">
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <h5 class="text-center">Silver Cutlery</h5>
                  <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#cutlerySet">Explore Plain Silver Cutlery </a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#cutlerySet">Explore Antique Embroided Silver Cutlery</a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#cutlerySet">Explore Embroided Silver Cutlery</a>
                </div>

              </div>

              <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
                <img src="/home_page/silver_utensils/antique-jug-set.jpg" class="img-fluid" loading="eager" alt="...">
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <h5 class="text-center">Silver Jug Set</h5>
                  <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#jugSet">Explore Plain Silver Jug Set </a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#jugSet">Explore Antique Embroided Silver Jug Set</a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils">Explore Gallery Of Silver Utensils</a>
                </div>

              </div>
              
            </div>
            <div class="row"><!--row 2-->
              <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
                <img src="/home_page/silver_utensils/tea-set.jpg" class="img-fluid" loading="eager" alt="...">
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <h5 class="text-center">Silver Tea Set</h5>
                  <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#teaSet">Explore Plain Silver Tea Set </a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#teaSet">Explore Antique Embroided Silver Tea Set</a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils">Explore Gallery Of Silver Utensils</a>
                </div>

              </div>

              <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
                <img src="/home_page/silver_utensils/glass-set.jpg" class="img-fluid" loading="eager" alt="...">
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <h5 class="text-center">Silver Glass Set</h5>
                  <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#glassSet">Explore Plain Silver Glass Set </a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#glassSet">Explore Antique Embroided Silver Glass Set</a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils">Explore Gallery Of Silver Utensils</a>
                </div>

              </div>
              <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
                <img src="/home_page/silver_utensils/ice-cream-set.jpg" class="img-fluid" loading="eager" alt="...">
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <h5 class="text-center">Silver IceCream Set</h5>
                  <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#iceCreamSet">Explore Plain Silver Ice Cream Set </a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#iceCreamSet">Explore Antique Embroided Ice Cream Set</a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils">Explore Gallery Of Silver Utensils</a>
                </div>

              </div>

              <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
                <img src="/home_page/silver_utensils/fruit-bowl.jpg" class="img-fluid" loading="eager" alt="...">
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <h5 class="text-center">Silver Fruit Bowl</h5>
                  <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#fruitBowl">Explore Plain Silver Fruit Bowl </a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils#fruitBowl">Explore Antique Embroided Fruit Bowl</a>
                </div>
                <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                  <a href="/silverUtensils">Explore Gallery Of Silver Utensils</a>
                </div>

              </div>

                
            </div><!--row 2 ends -->
        
      </div><!--silver utensils container ends -->
      <!--SILVER UTENSILS HOME PAGE SEGMENT ENDS HERE -->
      <!--SILVER JEWELLERY SECTION STARTS HERE -->
      <div class="container bg-light my-2 p-2 border rounded border-info">
        <h3 class="text-center">Silver Jewellery</h3>
      </div>
      <div class="container my-2">
        <div class="row"><!--row 1-->

          <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
            <img src="/home_page/silver_jewellery/marcasite-pendal-set.jpg" class="img-fluid" loading="eager" alt="...">
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <h5 class="text-center">Marcasite Pendal Set</h5>
              <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Marcasite Pendal Set </a>
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Pendal Sets</a>
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Gallery Of Silver Jewellery</a>
            </div>

          </div>

          <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
            <img src="/home_page/silver_jewellery/antique-jhumki.jpeg" class="img-fluid" loading="eager" alt="...">
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <h5 class="text-center">Antique Silver Jhumki</h5>
              <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Antique Silver Jhumki  </a>
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Antique Ear Rings</a>
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Gallery Of Silver Jewellery</a>
            </div>

          </div>

          <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
            <img src="/home_page/silver_jewellery/necklace-set.jpeg" class="img-fluid" loading="eager" alt="...">
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <h5 class="text-center">Antique Necklace Set</h5>
              <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Antique Necklace Set</a>
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Necklace Set</a>
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Gallery Of Silver Jewellery</a>
            </div>

          </div>

          <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
            <img src="/home_page/silver_jewellery/silver-bangles.jpg" class="img-fluid" loading="eager" alt="...">
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <h5 class="text-center">Silver Bangle Set</h5>
              <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Silver Bangle Sets</a>
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Antique Bangle Sets</a>
            </div>
            <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
              <a href="#">Explore Gallery Of Silver Jewellery</a>
            </div>

          </div>

        </div><!--row 1 ends-->
          <div class="row"><!--row 2-->
            <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
              <img src="/home_page/silver_jewellery/silver-watch.jpg" class="img-fluid" loading="eager" alt="...">
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <h5 class="text-center">Antique Silver Watch</h5>
                <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Antique Watches</a>
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Silver Watches</a>
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Gallery Of Silver Jewellery</a>
              </div>
  
            </div>

            <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
              <img src="/home_page/silver_jewellery/silver-bracelet.jpg" class="img-fluid" loading="eager" alt="...">
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <h5 class="text-center">Antique Silver Watch</h5>
                <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Antique Mens Bracelet</a>
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Womens Bracelets</a>
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Gallery Of Silver Jewellery</a>
              </div>
  
            </div>

            <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
              <img src="/home_page/silver_jewellery/silver-ring.jpg" class="img-fluid" loading="eager" alt="...">
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <h5 class="text-center">Antique CZ Ring</h5>
                <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Silver Antique CZ Rings</a>
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Antique Men Rings</a>
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Antique Women Rings</a>
              </div>
  
            </div>

            <div class="col-md-6 col-sm-12 col-xl-3 col-lg-3 my-1 border-end border-info">
                
              <img src="/home_page/silver_jewellery/silver-toe-ring.jpg" class="img-fluid" loading="eager" alt="...">
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <h5 class="text-center">Antique Silver Toe Ring</h5>
                <!--<p class="card-text"> Charcol Colour hand crafted Embroided Silver Artefacts available in 93% purity</p>-->
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Antique Toe Ring</a>
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Plain Silver Toe Ring</a>
              </div>
              <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
                <a href="#">Explore Silver Coloured Toe Ring</a>
              </div>
  
            </div>              
              
          </div><!--row 2 ends -->
      
    </div><!--container div ends -->

    <!--HOME DECOR SECTION STARTS HERE -->
    <div class="container my-2 bg-light p-2 border rounded border-info">
      <h3 class="text-center text-capitalize">Home Decor</h3>
    </div>
    <div class="container my-1 bg-light">
      <div class="row"><!--row 1-->
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12">
          <div class="conatiner">
            <div class="row my-1">
              <div class="col-4 border-end border-bottom border-info">
                <img src="home_page/home_decor/cover-img.jpg" loading="eager" class="img-fluid mx-auto" alt="">
              </div>
              <div class="col-4 border-end border-bottom border-info">
                <img src="home_page/home_decor/img1.jpg" loading="eager" class="img-fluid mx-auto" alt="">
              </div>
              <div class="col-4 border-end border-bottom border-info">
                <img src="home_page/home_decor/img2.jpg" loading="eager" class="img-fluid mx-auto" alt="">
              </div>
            </div>
            <div class="row my-1">
              <div class="col-4 border-end border-bottom border-info">
                <img src="home_page/home_decor/img3.jpg" loading="eager" class="img-fluid mx-auto" alt="">
              </div>
              <div class="col-4 border-end border-bottom border-info">
                <img src="home_page/home_decor/img4.jpg" loading="eager" class="img-fluid mx-auto" alt="">
              </div>
              <div class="col-4 border-end border-bottom border-info">
                <img src="home_page/home_decor/img5.jpg" loading="eager" class="img-fluid mx-auto" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xl-4 col-lg-4 col-md-6">
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/homeDecor#homewares">Explore Homewares</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/homeDecor#fountains">Explore Silver Fountains</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/homeDecor#photoFrames">Explore Silver Photo Frames</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/homeDecor#flowerVase">Explore Silver Flower Vase</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/homeDecor#candleStand">Explore Silver Candle Stand</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/homeDecor#fruitBowl">Explore Silver Fruit Bowls</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/homeDecor#miniaturesDecor">Explore Silver Miniatures Decors</a>
          </div>
        </div>
      </div><!--row 1 ends-->
    </div>
    <!--home decor ends -->
    <!--bar silverwares-->

    <div class="container my-2 bg-light p-2 border rounded border-info">
      <h3 class="text-capitalize text-center">Bar Silverwares</h3>
    </div>
    <div class="container my-2 border rounded border-info">
      <p class="text-center  lh-lg fs-6 p-4 text-secondary">
        It's always cocktail hour somewhere in the world!
         Celebrate the art of bar keeping at home with collection of bar accessories. 
         Created to celebrate great achievements.
         <a href="/homeDecor#barwares" class="btn btn-info text-center text-capitalize text-white lh-lg p-2 float-end">Explore Bar Silverwares</a>
         
      </p>
      
     
    </div>
    <div class="container bg-light my-1 border-end border-bottom rounded border-info">
      <img src="home_page/bar_silverwares/cover-img.jpg" loading="eager" alt="bar silverwares" class="img-fluid mx-auto">
    </div>

    <!--bar silverwares ends -->

    <!--festive collection -->
    <div class="container my-3 bg-light p-2 border rounded border-info">
      <h3 class="text-center text-capitalize">festive collection</h3>
    </div>
    <div class="container my-1  bg-light">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 p-1">
          <img src="home_page/festival_collection/cover-img.jpg" alt="festive collection" class="img-fluid mx-auto border-end border-bottom rounded border-info p-1" loading="eager">
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <p class="text-capitalize text-center lh-lg fs-6 text-secondary p-2 festivalCollectionDescClass">
            india is a land of festivals with never ending clebrations.
            make every festive occasions an oppurtunity to inspire and spread joy by bringing home Artefacts that  
            symbolises the passion of the occasion being celebrated. introducing <em>festival collections</em> where there 
            is something for everyone to enjoy and be proud of our culture and traditions. 
          </p>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/festivalCollections">Explore Festival Collections</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/festivalCollections#pujaThali">Explore Puja Thali</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/festivalCollections#idols">Explore Silver Idols</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/festivalCollections#jhula">Explore Silver Jhula</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/festivalCollections#singhasan">Explore Singhasan</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/festivalCollections#mandir">Explore Silver Mandir</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/festivalCollections#kalash">Explore Silver Kalash</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/festivalCollections#samai">Explore Silver Samai</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info">
            <a href="/festivalCollections#itemAccessories">Explore Puja Items & Accessories</a>
          </div>
          <div class="container my-1 bg-light p-2 border-bottom rounded-bottom border-info d-grid">
            <a  data-bs-toggle="collapse" href="#festivalCategoryCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
              Explore Festivals
            </a>
          </div>
          <div class="collapse" id="festivalCategoryCollapse">
            <div class="card card-body">
              <div class="container my-1">
                <a href="/festivalCollections#holiCelebration">Holi Celebration</a>
              </div>
              <div class="container my-1">
                <a href="/festivalCollections#diwaliCelebration">Diwali Celebration</a>
              </div>
              <div class="container my-1">
                <a href="/festivalCollections#eidCelebration">Eid Celebration</a>
              </div>
              <div class="container my-1">
                <a href="/festivalCollections#shivratri">Shivratri</a>
              </div>
              <div class="container my-1">
                <a href="/festivalCollections#navratri">Navratri</a>
              </div>
            </div>
          </div>

        </div>
      </div>
     
    </div>

    <!--festive collection ends -->

    <!--gifts section-->
    <!--gifts section ends -->



    <!--js dependencies -->

     <!--jquery-->
     <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous" defer></script>
     <!-- Optional JavaScript; choose one of the two! -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
     <!-- Option 1: Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
 
     <!-- Option 2: Separate Popper and Bootstrap JS -->
     <!--
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
     -->
     <!--index page js-->
     <script type="text/javascript" src="/indexPage.js" defer></script>