
<div class="container my-2">
    <div id="carouselExampleSlidesOnly" class="carousel slide mx-auto" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/">
            <picture>
                <source media="(max-width:799px)" srcset="/home_pageMobile/galleria.jpg" >
                <source media="(min-width:800px)" srcset="/home_pageWeb/galleria.jpg" >
                <img src="home_pageMobile/galleria.jpg" class="img-fluid mx-auto" >
            </picture>
            <p class="text-capitalize text-center text-secondary" style="font-size: small;">
                Explore Galleria : a picture gallery of silver manufacturing & arts
            </p>
            </a>
            <!--<img src="/home_pageWeb/galleria.jpg" class="d-block w-100" alt="...">-->
          </div>
          <div class="carousel-item">
            <a href="/silverUtensils">
            <picture>
                <source media="(max-width:799px)" srcset="/home_pageMobile/galleria2.jpg" >
                <source media="(min-width:800px)" srcset="/home_pageWeb/galleria2.jpg" >
                <img src="home_pageMobile/galleria2.jpg" class="img-fluid mx-auto" >
            </picture>
            <p class="text-capitalize text-center text-secondary" style="font-size: small;">
                Explore Silver utensils : redefine the art of dinning
            </p>
            </a>
            <!--<img src="/home_pageWeb/galleria2.jpg" class="d-block w-100" alt="...">-->
          </div>
          <div class="carousel-item">
              <a href="/festiveCollections">
            <picture>
                <source media="(max-width:799px)" srcset="/home_pageMobile/galleria3.jpg" >
                <source media="(min-width:800px)" srcset="/home_pageWeb/galleria3.jpg" >
                <img src="home_pageMobile/galleria3.jpg" class="img-fluid mx-auto" >
            </picture>
            <p class="text-capitalize text-center text-secondary" style="font-size: small;">
                Explore Festive Collections : bring passion in celebrations
            </p>
            </a>
          </div>
          <div class="carousel-item">
              <a href="/silverUtensils/#surahiSet">
            <picture>
                <source media="(max-width:799px)" srcset="/home_pageMobile/galleria4.jpg" >
                <source media="(min-width:800px)" srcset="/home_pageWeb/galleria4.jpg" >
                <img src="home_pageMobile/galleria3.jpg" class="img-fluid mx-auto" >
            </picture>
            <p class="text-capitalize text-center text-secondary" style="font-size: small;">
                Explore silver surahi set : relive the ancient and medival era of indian art
            </p>
            </a>
          </div>
        </div>
      </div>
</div>
<!--silver utensils home page view -->

<div class="container my-2">
    <h3 class="text-capitalize text-center text-secondary my-1 p-2">
        silver utensils 
    </h3>
</div>
<div class="container">
    <hr>
</div>



<div class="container my-3 bg-light">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 my-5">
            <picture>
                <source media="(max-width:799px)" srcset="/home_pageMobile/jug-set.jpg" >
                <source media="(min-width:800px)" srcset="/home_pageWeb/jug-set.jpg" >
                <img src ="/home_pageMobile/jug-set.jpg" class="img-fluid mx-auto" >
            </picture>
            <p class="text-capitalize my-1 p-1" style="font-size:x-small;">
                
                <a href="#" class="text-secondary mx-1">antique silver utensils</a>
                <a href="#" class="text-secondary mx-1">plain silver utensils</a>
                <a href="#" class="text-secondary mx-1">high polish silver utensils</a>
            
            </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light shadow p-3 mb-5 bg-white rounded wideViewIndex">
            <h5 class="text-secondary text-capitalize text-center my-1 p-2">
                popular links
            </h5>
            <hr>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils" class="text-secondary">Silver utensils</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#dinnerSet" class="text-secondary">Dinner Sets</a>
            </p>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#antiqueDinnerSet" class="text-secondary">antique dinner set</a>
            </p>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#plainDinnerSet" class="text-secondary">plain dinner set</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#cutlerySet" class="text-secondary">cutlery set</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#jugSet" class="text-secondary">jug set</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#glassSet" class="text-secondary">glass set</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#surahiSet" class="text-secondary">surahi set</a>
            </p>
            <p class="text-center text-capitalize text-secondary my-1 p-1" style="font-size: small;">
                <a href="/silverUtensils/#fruitBowl" class="text-secondary">fruit bowl</a>
            </p>
            
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light shadow p-3 mx-3 mb-5 bg-white rounded mobileViewIndex">

            <div class="accordion accordion-flush" id="accordionFlushExample1">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-heading1">
                    <button class="accordion-button text-secondary text-capitalize collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                      popular links 
                    </button>
                  </h2>
                  <div id="flush-collapse1" class="accordion-collapse collapse" aria-labelledby="flush-heading1" data-bs-parent="#accordionFlushExample1">
                    <div class="accordion-body">
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils" class="text-secondary">Silver utensils</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#dinnerSet" class="text-secondary">Dinner Sets</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#antiqueDinnerSet" class="text-secondary">antique dinner set</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#plainDinnerSet" class="text-secondary">plain dinner set</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#cutlerySet" class="text-secondary">cutlery set</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#jugSet" class="text-secondary">jug set</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#glassSet" class="text-secondary">glass set</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#surahiSet" class="text-secondary">surahi set</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary my-1 p-1" style="font-size: small;">
                            <a href="/silverUtensils/#fruitBowl" class="text-secondary">fruit bowl</a>
                        </p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>

<!--home decor home page view -->


<div class="container my-2">
    <h3 class="text-capitalize text-center text-secondary my-1 p-2">
        home decor
    </h3>
</div>
<div class="container">
    <hr>
</div>



<div class="container my-3 bg-light">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 my-5">
            <picture>
                <source media="(max-width:799px)" srcset="/home_pageMobile/home-decor.jpg" >
                <source media="(min-width:800px)" srcset="/home_pageWeb/home-decor.jpg" >
                <img src ="/home_pageMobile/home-decor.jpg" class="img-fluid mx-auto">
            </picture>
            <p class="text-capitalize my-1 p-1" style="font-size:x-small;">
                
                <a href="/homeDecor/antiqueSilverHomeDecor" class="text-secondary mx-1">antique silver home decor</a>
                <a href="/homeDecor/silverMiniatures" class="text-secondary mx-1">silver miniatures</a>
                <a href="#" class="text-secondary mx-1"></a>
            
            </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light shadow p-3 mb-5 bg-white rounded wideViewIndex">
            <h5 class="text-secondary text-capitalize text-center my-1 p-2">
                popular links
            </h5>
            <hr>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/homeDecor" class="text-secondary">home decor</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/homeDecor/#surahiSet" class="text-secondary">surahi set</a>
            </p>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/homeDecor/#flowerVase" class="text-secondary">Flower vase</a>
            </p>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/homeDecor/#fruitBowl" class="text-secondary">fruit bowl</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/homeDecor/#candleStand" class="text-secondary">Candle stand</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/homeDecor/#temple" class="text-secondary">Temples</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/homeDecor/#samai" class="text-secondary">samai</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/homeDecor/#photoFrame" class="text-secondary">photo frame</a>
            </p>
            <p class="text-center text-capitalize text-secondary my-1 p-1" style="font-size: small;">
                <a href="/homeDecor/#wallMirror" class="text-secondary">wall mirrors</a>
            </p>
            
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light shadow p-3 mx-3 mb-5 bg-white rounded mobileViewIndex">

            <div class="accordion accordion-flush" id="accordionFlushExample2">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-heading2">
                    <button class="accordion-button text-secondary text-capitalize collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                      popular links 
                    </button>
                  </h2>
                  <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2" data-bs-parent="#accordionFlushExample2">
                    <div class="accordion-body">
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor" class="text-secondary">home decor</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor/#surahiSet" class="text-secondary">surahi set</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor/#flowerVase" class="text-secondary">Flower vase</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor/#fruitBowl" class="text-secondary">fruit bowl</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor/#candleStand" class="text-secondary">Candle stand</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor/#temple" class="text-secondary">Temples</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor/#samai" class="text-secondary">samai</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor/#photoFrame" class="text-secondary">photo frame</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary my-1 p-1" style="font-size: small;">
                            <a href="/homeDecor/#wallMirror" class="text-secondary">wall mirrors</a>
                        </p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>

<!--bar accessories -->

<div class="container my-2">
    <h3 class="text-capitalize text-center text-secondary my-1 p-2">
        bar & accessories
    </h3>
</div>
<div class="container">
    <hr>
</div>



<div class="container my-3 bg-light">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 my-5">
            <picture>
                <source media="(max-width:799px)" srcset="/home_pageMobile/bar.jpg" >
                <source media="(min-width:800px)" srcset="/home_pageWeb/bar-web.jpg" >
                <img src ="/home_pageMobile/bar.jpg" class="img-fluid mx-auto">
            </picture>
            <p class="text-capitalize my-1 p-1" style="font-size:x-small;">
                
                <a href="/homeDecor" class="text-secondary mx-1">home decor</a>
                <a href="/homeDecor/#barAccessories" class="text-secondary mx-1">bar accessories</a>
                <a href="#" class="text-secondary mx-1"></a>
            
            </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light shadow p-3 mb-5 bg-white rounded wideViewIndex">
            <h5 class="text-secondary text-capitalize text-center my-1 p-2">
                popular links
            </h5>
            <hr>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/homeDecor" class="text-secondary">home decor</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/homeDecor/#barAccessories" class="text-secondary">Bar & Dinning</a>
            </p>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils" class="text-secondary">silver utensils</a>
            </p>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#wineGlass" class="text-secondary">wine glasses</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#beerMug" class="text-secondary">beer mugs</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#pitchers" class="text-secondary">Pitchers & Carafes</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#pegMeasure" class="text-secondary">peg measure</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/silverUtensils/#iceBucket" class="text-secondary">collers & ice bucket</a>
            </p>
            
            
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light shadow p-3 mx-3 mb-5 bg-white rounded mobileViewIndex">

            <div class="accordion accordion-flush" id="accordionFlushExample3">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-heading3">
                    <button class="accordion-button text-secondary text-capitalize collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                      popular links 
                    </button>
                  </h2>
                  <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample3">
                    <div class="accordion-body">
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor" class="text-secondary">home decor</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor/#barAccessories" class="text-secondary">Bar & Dinning</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils" class="text-secondary">silver utensils</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#wineGlass" class="text-secondary">wine glasses</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#beerMug" class="text-secondary">beer mugs</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#pitchers" class="text-secondary">Pitchers & Carafes</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#pegMeasure" class="text-secondary">peg measure</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/silverUtensils/#iceBucket" class="text-secondary">collers & ice bucket</a>
                        </p>
                        
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>

<!--festive collections -->
<div class="container my-2">
    <h3 class="text-capitalize text-center text-secondary my-1 p-2">
       Festive collections
    </h3>
</div>
<div class="container">
    <hr>
</div>



<div class="container my-3 bg-light">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12 my-5">
            <!--carousel-->

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <picture>
                        <source media="(max-width:799px)" srcset="/home_pageMobile/fc1.jpg" >
                        <source media="(min-width:800px)" srcset="/home_pageWeb/fc1.jpg" >
                        <img src="home_pageMobile/fc1.jpg" class="img-fluid mx-auto" >
                    </picture>
                  </div>
                  <div class="carousel-item">
                    <picture>
                        <source media="(max-width:799px)" srcset="/home_pageMobile/fc2.jpg" >
                        <source media="(min-width:800px)" srcset="/home_pageWeb/fc2.jpg" >
                        <img src="home_pageMobile/fc2.jpg" class="img-fluid mx-auto" >
                    </picture>
                  </div>
                  <div class="carousel-item">
                    <picture>
                        <source media="(max-width:799px)" srcset="/home_pageMobile/fc3.jpg" >
                        <source media="(min-width:800px)" srcset="/home_pageWeb/fc3.jpg" >
                        <img src="home_pageMobile/fc3.jpg" class="img-fluid mx-auto" >
                    </picture>
                  </div>
                  <div class="carousel-item">
                    <picture>
                        <source media="(max-width:799px)" srcset="/home_pageMobile/fc4.jpg" >
                        <source media="(min-width:800px)" srcset="/home_pageWeb/fc4.jpg" >
                        <img src="home_pageMobile/fc4.jpg" class="img-fluid mx-auto" >
                    </picture>
                  </div>
                  <div class="carousel-item">
                    <picture>
                        <source media="(max-width:799px)" srcset="/home_pageMobile/fc5.jpg" >
                        <source media="(min-width:800px)" srcset="/home_pageWeb/fc5.jpg" >
                        <img src="home_pageMobile/fc5.jpg" class="img-fluid mx-auto" >
                    </picture>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

            <!--carousel ends -->
            <p class="text-capitalize my-1 p-1" style="font-size:x-small;">
                
                <a href="/festiveCollections" class="text-secondary mx-1">festive collections</a>
                <a href="/festiveCollections/#silverIdols" class="text-secondary mx-1">silver idols</a>
                <a href="#" class="text-secondary mx-1"></a>
            
            </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light shadow p-3 mb-5 bg-white rounded wideViewIndex">
            <h5 class="text-secondary text-capitalize text-center my-1 p-2">
                popular links
            </h5>
            <hr>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/festiveCollections" class="text-secondary">festive collections</a>
            </p>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/festiveCollections/#silverIdols" class="text-secondary">silver Idols</a>
            </p>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/festiveCollections/#silverJalheriSet" class="text-secondary">silver Jalheri Set</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/festiveCollections/#samai" class="text-secondary">samai</a>
            </p>
            <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                <a href="/homeDecor" class="text-secondary">home decor</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/festiveCollections/#silverTemples" class="text-secondary">silver Temples</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/festiveCollections/#jhula" class="text-secondary">silver jhula</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/festiveCollections/#exoticDiya" class="text-secondary">exotic diya</a>
            </p>
            
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/festiveCollections/#mukut" class="text-secondary">mukut</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/festiveCollections/#chatra" class="text-secondary">chatra</a>
            </p>
            <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                <a href="/festiveCollections/#miscellaneous" class="text-secondary">miscellaneous</a>
            </p>      
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light shadow p-3 mx-3 mb-5 bg-white rounded mobileViewIndex">

            <div class="accordion accordion-flush" id="accordionFlushExample4">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-heading4">
                    <button class="accordion-button text-secondary text-capitalize collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                      popular links 
                    </button>
                  </h2>
                  <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample4">
                    <div class="accordion-body">
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/festiveCollections" class="text-secondary">festive collections</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/festiveCollections/#silverIdols" class="text-secondary">silver Idols</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/festiveCollections/#silverJalheriSet" class="text-secondary">silver Jalheri Set</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/festiveCollections/#samai" class="text-secondary">samai</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary  p-1 my-1" style="font-size: small;">
                            <a href="/homeDecor" class="text-secondary">home decor</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/festiveCollections/#silverTemples" class="text-secondary">silver Temples</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/festiveCollections/#jhula" class="text-secondary">silver jhula</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/festiveCollections/#exoticDiya" class="text-secondary">exotic diya</a>
                        </p>
                        
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/festiveCollections/#mukut" class="text-secondary">mukut</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/festiveCollections/#chatra" class="text-secondary">chatra</a>
                        </p>
                        <p class="text-center text-capitalize text-secondary p-1 my-1" style="font-size: small;">
                            <a href="/festiveCollections/#miscellaneous" class="text-secondary">miscellaneous</a>
                        </p>
                    </div>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>





<!--js dependencies -->

     <!--jquery-->
     <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous" defer></script>
     <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
     
     <!--index page js-->
     <script type="text/javascript" src="/indexPage.js" defer></script>